	<!DOCTYPE html>
<html>
<head>
	<title>Product listing</title>
	<link rel="stylesheet" type="text/css" href="product_listing.css">
	<script src="product_listing.js"></script>
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../../index.html">	<li>Home</li>
	</a><a href="../../forms/forms.html">	<li>Forms</li>
	</a><a href="../../buttons/button.html">	<li>Buttons</li>
	</a><a href="../../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<h2>LISTINGS</h2>
<div><img class="product_listing_image" src="../images/IMG_7904.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8077.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8127.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8152.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8169.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_7905.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8123.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8130.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8153.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8218.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_7906.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div><img class="product_listing_image" src="../images/IMG_8155.JPG">
<p>TWO ROADS DIVERGED IN A YELLOW WOOD, AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</p>
<p class="price">$0.99 <button class="add_to_cart">ADD TO CART</button></p>
</div>
<div class="cart"></div>
<h2>CART</h2>
<table class="cart">
	<tr class="title_row">
		<th colspan="3" class="title_row_product">Product</th>
		<th class="title_row_price">Price</th>
		<th id="heading_quantity">Quantity</th>
		<th class="title_row_total">Total</th>
	</tr>
		
		<tr>
		<td  class="close"><button>&#10006</button>
		</td>
		<td class="thumbnail"><img width="60px" src="../images/IMG_7904.JPG" >
		</td>
		<td class="product_title">TWO ROADS DIVERGED IN A YELLOW WOOD AND SORRY I COULD NOT TRAVEL BOTH AND BE ONE TRAVELER</td>
		<td class="unit_price">$0.99</td>
		<td class="quantity"><input type="text" value="1"></input></td>
		<td class="total_price">$0.99
		</td></tr>
		<tr>
		<td  class="close"><button>&#10006</button>
		</td>
		<td class="thumbnail"><img width="60px" src="../images/IMG_8077.JPG" >
		</td>
		<td class="product_title">AND BE ONE TRAVELER, LONG I STOOD AND LOOKED DOWN ONE AS FAR AS I COULD </td>
		<td class="unit_price">$0.99</td>
		<td class="quantity"><input type="text" value="1"></input></td>
		<td class="total_price">$0.99
		</td></tr>
		<tr>
		<td  class="close"><button>&#10006</button>
		</td>
		<td class="thumbnail"><img width="60px" src="../images/IMG_8127.JPG" >
		</td>
		<td class="product_title">TO WHERE IT BENT IN THE UNDERGROWTH</td>
		<td class="unit_price">$0.99</td>
		<td class="quantity"><input type="text" value="1"></input></td>
		<td class="total_price">$0.99
		</td></tr>
		<tr>
		<td  class="close"><button>&#10006</button>
		</td>
		<td class="thumbnail"><img width="60px" src="../images/IMG_8152.JPG" >
		</td>
		<td class="product_title">THEN TOOK THE OTHER, AS JUST AS FAIR AND HAVING PERHAPS THE BETTER CLAIM</td>
		<td class="unit_price">$0.99</td>
		<td class="quantity"><input type="text" value="1"></input></td>
		<td class="total_price">$0.99
		</td></tr>
		<tr>
		<td  class="close"><button>&#10006</button>
		</td>
		<td class="thumbnail"><img width="60px" src="../images/IMG_8169.JPG" >
		</td>
		<td class="product_title">BECAUSE IT WAS GRASSY AND WANTED WEAR</td>
		<td class="unit_price">$0.99</td>
		<td class="quantity"><input type="text" value="1"></input></td>
		<td class="total_price">$0.99
		</td></tr>
</table>
</body>
</html>