body {
	width: 370px;
	margin: auto;
	margin-top: 10%;
	font-size: 1.2em;
	font-family: "Segoe UI", Lucida Grande, Helvetica, sans-serif;
}

form {
	padding: 20px 0 20px 20px;
	width: 90%;
	border: 1px solid black;
	box-shadow: 1px 1px 5px black;
}

div {
	width: 90%;
	margin-bottom: 20px;

}

input {
	width: 60%;
	float: right;
	margin-right: -5px;
	height: 20px;

}

textarea {
	height: 100px;
	width:90%;
}

select {
	margin-top: 10px;
}

#navigation_bar ul {
	font-family: lucida sans unicode, lucida grande, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	list-style: none;
	text-align: left;
	background-color: #f2f2f2;
	font-size: 18px;
	margin-top: 0;
	height: 60px;
	line-height: 60px;
	box-shadow: 1px 1px 5px #808080;

}

#navigation_bar ul img {
	max-width: 45px;
	border-radius: 50%;
	float: right;
	margin-right: 3%;
	margin-top: 8px;
}
#navigation_bar ul	li {
	display: inline-block;
	margin-right: 5%;
	color: #808080;

}

#navigation_bar ul a {
	text-decoration: none;
	opacity: 1;
}

#navigation_bar ul a:hover {
	opacity: 0.7;
}