<!DOCTYPE html>
<html>
<head>
	<title>Button</title>
	<link rel="stylesheet" type="text/css" href="button.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../index.html">	<li>Home</li>
	</a><a href="../forms/forms.html">	<li>Forms</li>
	</a><a href="../buttons/button.html">	<li>Buttons</li>
	</a><a href="../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<h3>A Basic Button</h3>
<div class="button">Buy Now</div>

<h3>A Button Element with the Button Class</h3>
<button class="button">Send Mail</button>	

<h3>An Anchor with a Button Class</h3>
<a href="#" class="button">Search</a>

<h3>Buttons of different sizes</h3>
<div class="button button-sm">A Small Button</div>
<div class="button button-md">A Medium Button</div>
<div class="button button-lg">A Large Button</div>
</body>
</html>