<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../../index.html">	<li>Home</li>
	</a><a href="../forms.html">	<li>Forms</li>
	</a><a href="../../buttons/button.html">	<li>Buttons</li>
	</a><a href="../../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<form>
	<input class="text_input" type="text" placeholder="Username"></input>
	<input class="password_input" type="password" placeholder="password"></input>

	<div class="checkbox_input"><input type="checkbox" id="checkbox"></input>
		<label for="checkbox">Remeber me</label></div>
	<button type="submit">Log In</button>
</form>
</body>
</html>