<!DOCTYPE html>
<html>
<head>
	<title>Learning Web Components</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="index.html">	<li>Home</li>
	</a><a href="forms/forms.html">	<li>Forms</li>
	</a><a href="buttons/button.html">	<li>Buttons</li>
	</a><a href="profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="./image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<section id="heading">
<h2>Learning Web Components</h2>
<p>Vito Fan</p>
<p>Front-end Web Developer</p>
<p id="quote">Three grand essentials to happiness in this life are something to do, something to love, and something to hope for.</p>
</section>
<div class="birdview">
	<div>
		<a href="buttons/button.html"><img src="image/1.png"></a>
		<p>Button</p>
	</div>
		<div>
		<a href="calculator/calculator.html"><img src="image/2.png"></a>
		<p>Calculator from LG G3</p>
	</div>
		<div>
		<a href="profile_card/profile_card.html"><img src="image/3.png"></a>
		<p>Profile Card</p>
	</div>
		<div>
		<a href="e_commerce_site/product_listing/product_listing.html"><img src="image/4.png"></a>
		<p>Product Listings</p>
	</div>
		<div>
		<a href="forms/color_building_form/color_building_form.html"><img src="image/5.png"></a>
		<p>Color Building</p>
	</div>
		<div>
		<a href="forms/credit_card_form/credit_card_form.html"><img src="image/6.png"></a>
		<p>Credit Card Form</p>
	</div>
		<div>
		<a href="forms/login_form/login.html"><img src="image/7.png"></a>
		<p>Log in Form</p>
	</div>
		<div>
		<a href="forms/questionnaire/questionnaire.html"><img src="image/8.png"></a>
		<p>Questionnaire</p>
	</div>
		<div>
		<a href="forms/scheduling_form/scheduling.html"><img src="image/9.png"></a>
		<p>Scheduling</p>
	</div>
		<div>
		<a href="forms/search_form/search.html"><img src="image/10.png"></a>
		<p>Search Bookland</p>
	</div>
		<div>
		<a href="forms/shipping_and_billing_form/shipping_and_billing_form.html"><img src="image/11.png"></a>
		<p>Shipping Address Form</p>
	</div>
		<div>
		<a href="forms/signup_form/signup_form.html"><img src="image/12.png"></a>
		<p>Sign up Form</p>
	</div>
</div>
</body>

</html>