<!DOCTYPE html>
<html>
<head>
	<title>Shipping and Billing Address</title>
	<link rel="stylesheet" type="text/css" href="shipping_and_billing_form.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../../index.html">	<li>Home</li>
	</a><a href="../forms.html">	<li>Forms</li>
	</a><a href="../../buttons/button.html">	<li>Buttons</li>
	</a><a href="../../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<H1>SHIPPING INFORMATION</H1>
<form>
	<div class="shipping">
		<h3>Shipping Address</h3>
		<label for="first_name">First Name</label>
		<input type="text" id="first_name"></input>
		<label for="last_name">Last Name </label>
		<input type="text" id="last_name"></input>
		<label for="address">Adress </label>
		<input type="text" id="address"></input>
		<label for="city">City</label>
		<input type="text" id="city"></input>
		<label for="country">Country</label>
		<input type="text" id="country"></input>
	</div>
	<div class="billing">
		<h3>Billing Address</h3>
		<label for="first_name_billing">First Name</label>
		<input type="text" id="first_name_billing"></input>
		<label for="last_name_billing">Last Name</label>
		<input type="text" id="last_name_billing"></input>
		<label for="address_billing">Adress </label>
		<input type="text" id="address_billing"></input>
		<label for="city_billing">City</label>
		<input type="text" id="city_billing"></input>
		<label for="country_billing">Country</label>
		<input type="text" id="country_billing"></input>
	</div>
</form>
</body>
</html>