<!DOCTYPE html>
<html>
<head>
	<title>Profile Card</title>
	<link rel="stylesheet" type="text/css" href="profile_card.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../index.html">	<li>Home</li>
	</a><a href="../forms/forms.html">	<li>Forms</li>
	</a><a href="../buttons/button.html">	<li>Buttons</li>
	</a><a href="../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>	
<div>
<h2>Vito</h2>
<h2>Fan</h2>
<img src="images/profile_photo.jpg">
<h3>About the Developer</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</body>
</html>