<!DOCTYPE html>
<html>
<head>
	<title>A Color Building Form</title>
	<link rel="stylesheet" type="text/css" href="color_building_form.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../../index.html">	<li>Home</li>
	</a><a href="../forms.html">	<li>Forms</li>
	</a><a href="../../buttons/button.html">	<li>Buttons</li>
	</a><a href="../../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<section id="navigation_bar">
<ul>
<a href="../../index.html">	<li>Home</li>
	</a><a href="../forms.html">	<li>Forms</li>
	</a><a href="../../buttons/button.html">	<li>Buttons</li>
	</a><a href="../../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>

	<form>
	<h3>Color Building Form</h3><label for="red">R </label>
				<input type="range" min="0" max="255" step="5" id="red"></input><label for="green">G </label>
				<input type="range" min="0" max="255" step="5" id="green"></input>
			<label for="blue">B </label>
				<input type="range" min="0" max="255" step="5" id="blue"></input>
		<label for="alpha">Alpha </label>
		<input type="range" min="0" max="1" step="0.01" id="alpha"></input>
		<textarea></textarea>
			</form>
</body>
</html>