<!DOCTYPE html>
<html>
<head>
	<title>Signup Form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../../index.html">	<li>Home</li>
	</a><a href="../forms.html">	<li>Forms</li>
	</a><a href="../../buttons/button.html">	<li>Buttons</li>
	</a><a href="../../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
	<form class="signup_form">
	<h3>Sign me Up</h3>
	<input type="text" placeholder="What's your full name?"></input>
	<input type="date" placeholder="When's your birthday?"></input>
	<input type="email" placeholder="Email"></input>
	<input type="text" placeholder="Use a secure password"></input>
	<button type="submit">Submit</button>
	</form>
</body>
</html>