
form {
	width: 250px;
	border: 1px solid #7ECDD2;
	color: #7ECDD2;
	margin: auto;
	margin-top: 10%;
	font-size: 20px;
	box-shadow: 1px 1px 5px #7ECDD2;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 10px 0 10px 20px;
}


div {
	padding-bottom: 10px;
	line-height: 30px;
}

.other input {
	border: 1px solid white;
	border-bottom: 1px solid #7ECDD2;
	margin-left: 5px;
}


#navigation_bar ul {
	font-family: lucida sans unicode, lucida grande, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	list-style: none;
	text-align: left;
	background-color: #f2f2f2;
	font-size: 18px;
	margin-top: 0;
	height: 60px;
	line-height: 60px;
	box-shadow: 1px 1px 5px #808080;

}

#navigation_bar ul img {
	max-width: 45px;
	border-radius: 50%;
	float: right;
	margin-right: 3%;
	margin-top: 8px;
}
#navigation_bar ul	li {
	display: inline-block;
	margin-right: 5%;
	color: #808080;

}

#navigation_bar ul a {
	text-decoration: none;
	opacity: 1;
}

#navigation_bar ul a:hover {
	opacity: 0.7;
}