<!DOCTYPE html>
<html>
<head>
	<title>Questionnaire</title>
	<link rel="stylesheet" type="text/css" href="questionnaire.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../../index.html">	<li>Home</li>
	</a><a href="../forms.html">	<li>Forms</li>
	</a><a href="../../buttons/button.html">	<li>Buttons</li>
	</a><a href="../../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<form>
<h3>Pick one you love</h3>
	<div><input type="radio" id="Hearts-On-Fire"></input>
	<label for="pandora" >Hearts On Fire</label></div>
	<div><input type="radio" id="Stuller"></input>
	<label for="pandora" >Stuller</label></div>
	<div><input type="radio" id="Simon-Golub"></input>
	<label for="pandora" >Simon Golub</label></div>
	<div><input type="radio" id="Frederick-Goldman"></input>
	<label for="pandora" >Frederick Goldman</label></div>
	<div class="other"><label for="other">Other: </label>
	<input type="text" id="other"></input></div>
</form>
</body>
</html>