<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="calculator.css">
</head>
<body>
<section id="navigation_bar">
<ul>
<a href="../index.html">	<li>Home</li>
	</a><a href="../forms/forms.html">	<li>Forms</li>
	</a><a href="../buttons/button.html">	<li>Buttons</li>
	</a><a href="../profile_card/profile_card.html">	<li>Profile Card</li>
	</a><a href="../e_commerce_site/product_listing/product_listing.html">	<li>Listing and Cart</li>
	</a><a href="../calculator/calculator.html">	<li>Calculator</li>
	</a>
	<img src="../image/6dfcbafc-1aa1-42e8-b977-72164bb926f6.jpg">
	</ul> </section>
<form>
	<textarea class="view" placeholder="3.141592653"></textarea>
	<div class="row1"><button class="AC">AC</button>
		<button class="sign">%</button>
		<button class="sign">/</button>	
		<button class="delete"><-</button></div>
		<div class="row2">
			<button class="number">7</button>
	<button class="number">8</button>
	<button class="number">9</button>
	<button class="sign">X</button>
		</div>


	<div calss="row3"><button class="number">4</button>
		<button class="number">5</button>
		<button class="number">6</button>
			<button class="sign">-</button></div>

	<div class="row4"><button class="number">1</button>
		<button class="number">2</button>
		<button class="number">3</button>
		<button class="sign">+</button></div>


	<div class="row5"><button id="zero" class="number">0</button>
		<button class="dot">.</button>
		<button class="sign">( )</button>
		<button class="equal">=</button></div>
	
</form>
</body>
</html>