form {
	width: 360px;
	margin:auto;
	margin-top: 7%;
	box-shadow: 1px 1px 5px black;
	padding: 10px 0 25px 18px;
}

textarea {
	width: 92%;
	margin-left: 5px;
	border: none;
	height: 90px;
	font-size: 50px;
}


button {
	width: 70px;
	border-radius: 50%;
	height: 70px;
	background-color: white;
	border: 1px solid black;
	margin: 0 0 10px 10px;
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	opacity: 1;
}

button:hover {
	opacity: 0.5;
}

button.number:hover {
	color: #e5e5e5;
	opacity: 0.7;
}

.sign {
	background-color: #e5e5e5;
	font-size: 30px;
}

.delete {
	color: white;
	background-color: #ffb2b2;
}

.AC {
	background-color: orange;
	color: white;
}

.equal {
	color: white;
	background-color: gray;
}

.dot {
	font-weight: 900;
}


#navigation_bar ul {
	font-family: lucida sans unicode, lucida grande, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	list-style: none;
	text-align: left;
	background-color: #f2f2f2;
	font-size: 18px;
	margin-top: 0;
	height: 60px;
	line-height: 60px;
	box-shadow: 1px 1px 5px #808080;

}

#navigation_bar ul img {
	max-width: 45px;
	border-radius: 50%;
	float: right;
	margin-right: 3%;
	margin-top: 8px;
}
#navigation_bar ul	li {
	display: inline-block;
	margin-right: 5%;
	color: #808080;

}

#navigation_bar ul a {
	text-decoration: none;
	opacity: 1;
}

#navigation_bar ul a:hover {
	opacity: 0.7;
}
